# Ambiente Virtual
.venv/
__pycache__/
*.pyc

# Arquivos de Dados e Configurações Pessoais (Sandbox)
Documents/
*.json
*.md
!CLAUDE.md
!.claude/skills/**/*.md
*.txt
*.swp

# Arquivos do Sistema Operacional
.DS_Store

# Banco de Dados Vetorial Local
chroma_db/
